#header {
    background-color: rgba(12, 10, 10, 0.696);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 9999;

    #header-content {
        max-width: 1280px;
        margin: auto;
        padding: 30px;
        text-align: center;

        h2 {
            font-size: 30px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
        }
    }
}